*{
    margin: 0%;
    padding: 0%;
}

@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url('https://fonts.googleapis.com/css2?family=Imprima&family=Lato:ital,wght@1,300&display=swap');

.footer{
    grid-area: footer;
    background-color:#254750 ;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.redes{
    list-style-type:none;
      display:flex;
      flex-direction:row;
     justify-content: center;
     align-items: center;
         li{
             margin:10px;
             color:#fff5f5;
             font-size: 1.5rem;
        }
 }

.footer__barra-contacto{
     display:flex;
     flex-wrap: wrap;
    justify-content:space-between;
    align-items: center;
     color:#ffffff;
     margin:0px 30px;
         ul{
         margin-bottom: 0;
        padding-left: 0;
          }
 }

 .acomodar img{
    width: 500px;
    padding: 20px;
 }
 .acomodar div{
    text-align: center;
    padding-left: 15%;
    padding-right: 15%;
    font-family: 'Imprima', sans-serif;
    font-family: 'Lato', sans-serif;
 }
.acomodar{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-evenly;
    align-items: center
}

body{
    position: relative;
    padding-bottom: 3em;
    min-height: 100vh;
}

h1{
    text-align: center;
    font-family: 'Imprima', sans-serif;
}

.snip1580 {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 10px;
  min-width: 250px;
  max-width: 310px;
  width: 100%;
  background-color: #000000;
  color: #ffffff;
  text-align: left;
  font-size: 16px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
.snip1580 * {
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.snip1580 img {
  max-width: 100%;
  vertical-align: top;
}
.snip1580 figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.75);
}
.snip1580 h3 {
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  margin: 3px 0;
}
.snip1580 h5 {
  font-weight: 400;
  margin: 0;
  color: #bbb;
  letter-spacing: 1px;
}
.snip1580 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.snip1580:hover figcaption,
.snip1580.hover figcaption {
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  background-color: #fff;
}
.snip1580:hover h3,
.snip1580.hover h3,
.snip1580:hover h5,
.snip1580.hover h5 {
  color: #333;
}

.main_historia p{
  text-align: center;
  padding-left: 20%;
  padding-right: 20%;
  font-family: 'Imprima', sans-serif;
  font-family: 'Lato', sans-serif;
}

.main_historia h2{
  padding-left: 20%;
  font-family: 'Imprima', sans-serif;
}

.main_historia ul{
  padding-left: 20%;
  text-decoration: none;
  font-family: 'Imprima', sans-serif;
  font-family: 'Lato', sans-serif;
}

.main_historia div{
  padding-left: 15%;
  padding-right: 15%;
}
